.textLabel{
	margin-top:1em;
	display:block;
}
#postcode{
	margin-top:0px;
}
#submit{
	display:block;
	margin:auto;
}
#idChk{
	margin-left:1em;
	padding:7px 18px;
	background-color:#9999ff;
	border-color:#9999ff;
	font-size:13px;
	display:inline;			
}
#userId{
	display:inline;
}
#userPwd{
	display:inline;
}
#userPwdChkResult{
	visibility:hidden;
	color:red;
}