.textLabel{
	margin-top:1em;
	display:block;
}
#postalCode{
	margin-top:0px;
}
#submit{
	display:block;
	margin:auto;
}ay:inline;			
}
#userPwd{
	display:inline;
}
#userPwdChkResult{
	visibility:hidden;
	color:red;
}
/*------------지안 추가----------------*/
.signUpMain {
 	margin:0px auto 100px;
	padding-top:50px;
	border-top: 1px solid #e5e5e5;
}
.userInfoUpdateTitle {
	/* font-size: 16px; */
	color: #8d71dd !important;
	text-align:center;
}

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0; }

img {
  max-width: 100%; }

ul {
  padding-left: 0;
  margin-bottom: 0; }

a:hover {
  text-decoration: none; }

:focus {
  outline: none; }

.wrapper {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; }

.inner {
  min-width: 850px;
  margin: auto;
  padding-top: 68px;
  padding-bottom: 48px;
  }
  .inner h3 {
    text-transform: uppercase;
    font-size: 22px;
    
    text-align: center;
    margin-bottom: 32px;
    color: #333;
    letter-spacing: 2px; }

form {
  width: 60%;
  padding-left: 45px; }

.form-group {
  display: flex; }
  .form-group .form-wrapper {
    width: 50%; }
    .form-group .form-wrapper:first-child {
      margin-right: 20px; }

.form-wrapper {
  margin-bottom: 17px; }
  .form-wrapper label {
    margin-bottom: 9px;
    display: block; }

.form-control {
  border: 1px solid #ccc;
  
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 5px!important;
  background: none; }
  .form-control:focus {
    border: 1px solid #ae3c33; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  padding-left: 20px; }
  select option[value=""][disabled] {
    display: none; }


.checkbox {
  position: relative; }
  .checkbox label {
    padding-left: 22px;
    cursor: pointer; }
  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .checkbox input:checked ~ .checkmark:after {
    display: block; }

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 12px;
  width: 13px;
  border-radius: 2px;
  background-color: #ebebeb;
  border: 1px solid #ccc;
  font-family: Material-Design-Iconic-Font;
  color: #000;
  font-size: 10px;
  font-weight: bolder; }
  .checkmark:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    content: '\f26b'; }

@media (max-width: 991px) {
  .inner {
    min-width: 768px; } }
@media (max-width: 767px) {
  .inner {
    min-width: auto;
    background: none;
    padding-top: 0;
    padding-bottom: 0; }

  form {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; } }
    
    .btn.btn-info {
    	border-radius: 5px!important;
    	padding: 12px 30px!important;
    	background-color:#5c3fbf!important;
    	border-color:#5c3fbf!important;
    }

button#idChk {margin-top:25px; width:100%;} 
button#userAddrBtn {margin-top:32px; width:100%;}
	.btn.signBtn:hover {
    	background-color:#fff!important;
    	border-color:#5c3fbf!important;
    	color:#5c3fbf!important;
    	transition:0.2s;
	}
.chkIdBtn {width:100%;}	